body{
    background: url("./assets/image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
#title{
    text-align: center;
    font-size: 50px;
}
#description{
    text-align: center;
    font-size: 20px;
}